html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.container div.six {
  top: 10vh;
  z-index: 1;
}

.container div.seven,
.container div.eight {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
  color: rgb(230, 247, 248); 
  text-shadow: 3px 3px 6px rgba(0,0,0,0.8); 
  font-weight: bold;
}

.one > img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 3rem;
  color: rgb(230, 247, 248);  /* 文字颜色改为白色 */
  text-shadow: 3px 3px 6px rgba(0,0,0,0.8);  /* 添加黑色阴影 */
}

.four .text-box {
  background-color: rgba(230, 247, 248, 0.7);
  width: 600px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(184, 147, 223);
  padding: 5px 8px;
  border-radius: 3px;
}

.image-show {
  width: auto;        
  height: auto;       
  margin: 20px auto;  
}
.gift-image1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  max-width: 100%;    
  max-height: 400px;  
}
.gift-image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  max-width: 100%;  
  max-height: 400px; 
}

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  color: rgb(230, 247, 248); 
  text-shadow: 3px 3px 6px rgba(0,0,0,0.8); 
  font-weight: bold;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 10rem;
}

.six {
  position: relative;
}

.six img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.six .hat {
  position: absolute;
  width: 200px;
  top: 0px;
  left:  34%;
  /* transform: scale(0.1); */
}

.baloons img {
  display: inline-block;
  position: absolute;
}

.baloons img:nth-child(even) {
  left: -10%;
}

.baloons img:nth-child(odd) {
  right: -10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.eight img {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

.eight img:nth-child(1) {
  top: 7vh;
  left: 5vw;
}

.eight img:nth-child(2) {
  top: 23vh;
  left: 35vw;
}

.eight img:nth-child(3) {
  top: 33vh;
  left: 23vw;
}

.eight img:nth-child(4) {
  top: 43vh;
  left: 57vw;
}

.eight img:nth-child(5) {
  top: 68vh;
  left: 7vw;
}

.eight img:nth-child(6) {
  top: 42vh;
  left: 77vw;
}

.eight img:nth-child(7) {
  top: 68vh;
  left: 83vw;
}

.eight img:nth-child(8) {
  top: 86vh;
  left: 37vw;
}

.eight img:nth-child(9) {
  top: 94vh;
  left: 87vw;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
  color: rgb(90, 71, 158); 
  text-shadow: 3px 3px 6px rgba(0,0,0,0.8); 
}

.wish h5 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 10px 0 0;
  color: rgb(230, 247, 248); 
  text-shadow: 3px 3px 6px rgba(0,0,0,0.8); 
}

.nine p {
  font-size: 2rem;
  color: rgb(230, 247, 248); 
  text-shadow: 3px 3px 6px rgba(0,0,0,0.8); 
}

.nine .last-smile {
  width: 160px;
  margin-top: 30px;
}

#replay {
  z-index: 3;
  cursor: pointer;
}



@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .four .text-box {
    width: 90%;
  }

  .text-box .fake-btn {
    right: 5px;
    bottom: -38px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six .hat {
    width: 50px;
    top: -20px;
  }

  .wish-hbd {
    font-size: 2.2em;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}
